/* Color Palette: 

Light Shades: #F7F7F6;

Light Accent: #626866;

Main Brand Color: #85b7b3;

Side Brand Color: #a1dbd7;

Dark Accent: #333333;

Dark Shades: #444B58;

*/

body {
    background-color: #444B58;
    color: #ffffff;
    font-family: Georgia, serif;
}

p {
    color: #F7F7F6;
}

h1{
    color: #ffffff;
}

h3{
    color: #a1dbd7;
}

h5 {
    color: #85b7b3;
}


img {
    display: inline-block;
    border-radius: 50%;
    width: 10%;
    height: 10%;
}

.name{
    color: #ffffff ;
    font-size: 30px;
}

#subtopic {
    color : #85b7b3 !important
}

.navBar {
    overflow: hidden;
    background-color: #333333;
    border-radius: 25px;
  }
  
.navBar a {
    float: left;
    display: block;
    color: #a1dbd7;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }

.navBar a:hover {
    background-color: #626866;
    color: black;
  }

/* .column {
    float: left;
    width: 33.215%;
    background-color: #333333;
    margin: .5px
}

.row:after {
    content: "";
    display: table;
    clear: both;
    color: white;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
} */

.container {
    border-radius: 25px;
    background-color: #333333;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 25px;
    background-color: #444B58;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    width: 93%;
    flex-grow: 1;
    flex-direction: row;
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
}

.box2 {
    border-radius: 25px;
    background-color: #626866;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    width: 93%;
    flex-grow: 1;
}

.fourth {
    border-radius: 25px;
    background-color: #626866;
    padding: 5px;
    margin: 10px;
    width: 93%;
}

#interests {
    border-radius: 25px;
    background-color: #626866;
    color: #ffffff;
    padding: 10px;
    margin: 15px;
    width: 88%;
    flex-grow: 1;
}

#form {
    border-radius: 25px;
    background-color: #333333;
    padding: 20px;
    margin: 1%;
    width: 90%;
    flex-grow: 5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#leaveamessage {
    font-size: 90%;
}

label {
    font-size: 90%;
}

.button {
    background-color: #85b7b3;
    color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3;
}

.button:hover {
    background-color: #a1dbd7
}

.input-field {
    padding: 1%;
    border: 1% solid #ccc;
    border-radius: 4px;
}

.input-field:focus {
    border-color: #333;
    background-color: #a1dbd7;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
    outline: none;
}
