/* Color Palette: 

Light Shades: #F7F7F6;

Light Accent: #626866;

Main Brand Color: #85b7b3;

Side Brand Color: 

Dark Accent: #333333;

Dark Shades: #444B58;

*/

body {
    background-color: #444B58;
    color: #ffffff;
    font-family: Georgia, serif;
}

p {
    color: #F7F7F6;
}

h1{
    color: #ffffff;
}

h3{
    color: #a1dbd7;
}

h5 {
    color: #85b7b3
}

img {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.name{
    color: #ffffff ;
    font-size: 30px;
}

#subtopic {
    color : #85b7b3 !important
}

.navBar {
    overflow: hidden;
    background-color: #333333;
  }
  
.navBar a {
    float: left;
    display: block;
    color: #a1dbd7;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }

.navBar a:hover {
    background-color: #ddd;
    color: black;
  }

.column {
    float: left;
    width: 33.2%;
    background-color: #333333;
    margin: .5px
}

.row:after {
    content: "";
    display: table;
    clear: both;
    color: white;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}