/* Color Palette: 

Light Shades: #F7F7F6;

Light Accent: #626866;

Main Brand Color: #96B6B4;

Dark Accent: #606062;

Dark Shades: #444B58;

*/

body {
    background-color: #444B58;
    color: #ffffff;
    font-family: Georgia, serif;
}

p {

}

header{
    color: #ffffff;
}

header2{

}

img {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.name{
    color: #ffffff ;
    font-size: 30px;
}

.about {
}